table td, th {
    text-align: left !important;
}

.icon-action:hover{
    color: #007bff;
}

.icon-size {
    width: 54px; /* Set your desired width */
    height: 40px; /* Set your desired height */
}